{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "parser": "typescript",
  "proseWrap": "always",
  "printWidth": 100,
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true,
  "quoteProps": "as-needed"
}
